
  button {
    // @include mediaQueries(button);
    padding: .5rem;
    margin: 1rem;
    background: none;
    cursor: pointer;
    text-transform: none;
    border: 1px solid $dark-purple;
    border-radius: .5rem;
    font-size: 1rem;
    font-family: $font-family-secondary;
    letter-spacing: 1.5px;
    background: $color-light;
    transition: background-color 600ms ease-out;
    color: $dark-purple;
      &:hover{
        background-color: $dark-purple;
        color: $color-light;
        border: 1px solid $light-purple;
        transform: scale(1.02);

      }
  }

  .main {
    @include flex(column, center);
    // height: 100vh;
    // width: 100vw;
  }

  p {
    font-family: $font-family-secondary;
    letter-spacing: 1.1px;
  }

  h1, h2, h3, h4 {
    font-family: $font-family-primary;
    letter-spacing: 1.1px;
  }