* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  a, Link {
    text-decoration: none;
    &:focus, &:hover, &:visited, &:link, &:active {
      text-decoration: none;
      cursor: pointer;
    }
  }
  
  html {
    width: 100vw;
  }
  
  body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  