/* ==========================================================================
  Elements - Defaults
========================================================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

html {
  overflow: scroll;
}

body {  
  font-family: "Helvetica", Sans-Serif; 
  line-height: 1;
}

a, Link {
  text-decoration: none;
  &:focus, &:hover, &:visited, &:link, &:active {
    text-decoration: none;
  }
}

ol, ul {
	list-style: none;
}

button {
  border: 0;
  padding: 0;
  appearance: none;
  background: none;
  outline: none;
  text-transform: none;
  cursor: pointer;
}

:is(h1, h2, h3, h4, h5, h6) {
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

// Styling Cross-Browser Compatible Range Inputs with Sass
// Github: https://github.com/darlanrod/input-range-sass
// Author: Darlan Rod https://github.com/darlanrod
// Version 1.5.2
// MIT License
[type=range] {
  -webkit-appearance: none;
  background: transparent;
  margin: 12px 0;
  width: 40%;
}
[type=range]::-moz-focus-outer {
  border: 0;
}
[type=range]:focus {
  outline: 0;
}
[type=range]:focus::-webkit-slider-runnable-track {
  background: #fbfbfc;
}
[type=range]:focus::-ms-fill-lower {
  background: #eceff1;
}
[type=range]:focus::-ms-fill-upper {
  background: #fbfbfc;
}
[type=range]::-webkit-slider-runnable-track {
  cursor: default;
  height: 8px;
  transition: all 0.2s ease;
  width: 50%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(13, 13, 13, 0.2);
  background: #eceff1;
  border: 2px solid #cfd8dc;
  border-radius: 5px;
}
[type=range]::-webkit-slider-thumb {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2), 0 0 4px rgba(13, 13, 13, 0.2);
  background: $dark-purple;
  border: 2px solid #eceff1;
  border-radius: 12px;
  box-sizing: border-box;
  cursor: default;
  height: 24px;
  width: 24px;
  -webkit-appearance: none;
  margin-top: -10px;
}
[type=range]::-moz-range-track {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(13, 13, 13, 0.2);
  cursor: default;
  height: 8px;
  transition: all 0.2s ease;
  width: 50%;
  background: #eceff1;
  border: 2px solid #cfd8dc;
  border-radius: 5px;
  height: 4px;
}
[type=range]::-moz-range-thumb {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2), 0 0 4px rgba(13, 13, 13, 0.2);
  background: $dark-purple;
  border: 2px solid #eceff1;
  border-radius: 12px;
  box-sizing: border-box;
  cursor: default;
  height: 24px;
  width: 24px;
}
[type=range]::-ms-track {
  cursor: default;
  height: 8px;
  transition: all 0.2s ease;
  width: 40%;
  background: transparent;
  border-color: transparent;
  border-width: 12px 0;
  color: transparent;
}
[type=range]::-ms-fill-lower {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(13, 13, 13, 0.2);
  background: #dde3e6;
  border: 2px solid #cfd8dc;
  border-radius: 10px;
}
[type=range]::-ms-fill-upper {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(13, 13, 13, 0.2);
  background: #eceff1;
  border: 2px solid #cfd8dc;
  border-radius: 10px;
}
[type=range]::-ms-thumb {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2), 0 0 4px rgba(13, 13, 13, 0.2);
  background: $dark-purple;
  border: 2px solid #eceff1;
  border-radius: 12px;
  box-sizing: border-box;
  cursor: default;
  height: 24px;
  width: 24px;
  margin-top: 2px;
}
[type=range]:disabled::-webkit-slider-thumb, [type=range]:disabled::-moz-range-thumb, [type=range]:disabled::-ms-thumb, [type=range]:disabled::-webkit-slider-runnable-track, [type=range]:disabled::-ms-fill-lower, [type=range]:disabled::-ms-fill-upper {
  cursor: not-allowed;
}