.contact-card {
    @include mediaQueries(contact-card);
    @include flex(column, start);
    width: 24rem;
    background: $light-purple;
    border-radius: .5rem;
    color: $color-dark;
    margin: 1rem 0rem 3rem 0rem;    
    box-shadow: $box-shadow;
    padding: 1rem;

    p {
        margin-top: 1rem;
    }
}

.view-details-btn {
    margin: 1rem 0rem 0rem 0rem;
    &:hover{
        background-color: rgba(91, 20, 171, .4);
        border: 1px solid $dark-purple;
    }
}

.email {
   @include flex(row, start);
}

.email-icon {
    width: 2rem;
    height: 2rem;
    color: $dark-purple;
}

.contact-email {
    margin: 0rem 0rem 0rem .8rem;
    align-self: center;
}