.client-dash {
    @include flex(column, center);
    margin: 1rem;
}

.featured-clients {
    margin: 1rem;
    width: 100vw;
}

.welcome {
    place-self: self-start;
    font-style: italic;
    letter-spacing: 1.5px;
}