.nav {
    @include flex(row, between);
    width: 100vw;
    height: 11rem;
    background: $color-light;
    border-bottom: 1px solid $dark-purple;
    box-shadow: $box-shadow;
    position: sticky;
    top: 0;
    margin-bottom: 1rem;
    z-index: 5;
}

.header-left {
    display: flex;
    flex-direction: column;
}

.header-links {
    @include mediaQueries(header-links);
    @include flex(row, end);
    height: 100%;
    overflow-x: hidden;
}

.exit-btn {
    &:hover {
        background: red;
        color: $color-light;
        border: 1px solid $color-dark;
    }
}

.logo {
    margin-left: 1rem;
    transition: 1s;
    animation: 1s fade-in-delay ease-in;
}

// @media only screen and (min-width: 350px) {

//     .header-links {
//         @include flex(column, end);
//         margin: 0rem;
//     }

//   }