.nav {
    @include flex(row, between);
    width: 100vw;
    height: 11rem;
    background: $color-light;
    border-bottom: 1px solid $dark-purple;
    box-shadow: $box-shadow;
    position: sticky;
    top: 0;
    margin-bottom: 1rem;
    z-index: 5;
}

.header-left {
    display: flex;
    flex-direction: column;
}

.header-links {
    @include mediaQueries(header-links);
    @include flex(row, end);
    height: 100%;
    overflow-x: hidden;
}

.exit-btn {
    &:hover {
        background: red;
        color: $color-light;
        border: 1px solid $color-dark;
    }
}

.logo {
    @include mediaQueries(logo);
    margin-left: 1rem;
    transition: 1s;
    animation: 600ms fade-in-delay ease-in;
}

