.client-profile {
    @include flex(column, center);
    margin: 1rem;

    h1 {
        font-size: 1.5rem;
        margin: 1rem;
        text-decoration: underline;
    }
}

.client-contact-info {
    p {
        text-align: center;
    }
}

h2 {
    font-size: 1.2rem;
    margin: .8rem;
}


.all-reviews {
    @include flex(column, center);
    margin: 0rem 1rem 2rem 1rem;
}

.profile-stars {
    text-align: center;
    font-size: 2rem;
    letter-spacing: 10px;
    margin: .5rem;
}

.add-review-btn {
    margin: .5rem 0rem 0rem 0rem;
}