
.review-form {
    @include flex(column, center);
    margin: 2rem;

    h2 {
        font-size: 1.4rem;
    }
}

.required-container {
    @include flex(column, center);
    margin: 0rem 1rem;
    width: 80%;
}

.required-text {
    margin: 1rem;
}

.review-input {
    width: 60%;
    min-height: 5rem;
    height: 10rem;
    text-align: center;
    resize: none;
    padding: 1rem;
    font-family: $font-family-secondary;
}

.char-counter {
    @include flex(row, end);
    width: 60%;
    margin-top: .5rem;
    font-family: $font-family-secondary;
  }

.rating-container {
    display: flex;
    flex-direction: row-reverse;
    margin: 1rem 0rem 2rem;
}

.star {
    height: 3rem;
    width: 3rem;
    color: grey;
    &:hover, &:hover ~ * {
        transform: scale(1.07);
        color: $dark-purple;
    }
}

.checked1 {
    height: 3rem;
    width: 3rem;
    color: $dark-purple;
}
.checked2 {
    height: 3rem;
    width: 3rem;
    color: $dark-purple;
}
.checked3 {
    height: 3rem;
    width: 3rem;
    color: $dark-purple;
}
.checked4 {
    height: 3rem;
    width: 3rem;
    color: $dark-purple;
}
.checked5 {
    height: 3rem;
    width: 3rem;
    color: $dark-purple;
}

.optional-container {
    @include flex(column, center);
    margin: 1rem;
    width: 80%;

    input {
        margin-bottom: 1.5rem;
        font-family: $font-family-primary;
        width: 40%;
        padding: .2rem;
        margin: 0rem 1rem .5rem;
        right: 1rem;
        border-radius: 5px;
        text-align: center;
    }

    select {
        font-family: $font-family-primary;
        margin-bottom: 1rem;
    }

    #dateDuration {
        width: 10%;
        margin-bottom: 1.5rem;
    }
    #hygiene, #gender {
        margin-bottom: 2rem;
    }
    label {
        margin-bottom: .5rem;
        font-family: $font-family-secondary;
    }
}

.optional-text {
    margin: 1rem;
}
