.each-review {
    @include flex(column, start);
    width: 60%;
    background: $light-purple;
    margin: 1rem;
    box-shadow: $box-shadow;
    padding: 1rem;
    border-radius: .4rem;

    p {
        margin: .4rem;
    }
}

.date-and-rating {
    @include flex(row, between);
}

.body {
    font-size: 1.2rem;
    font-style: italic;
    text-align: center;
    background: #4d4c4cd2;
    color: $color-light;
    border-radius: .5rem;
    padding: 1rem;
}

.rating {
    text-align: center;
    align-self: center;
    letter-spacing: 8px;
}

.review-date {
    font-family: $font-family-primary;
}




