.star {
    height: 3rem;
    width: 3rem;
    &:hover {
        transform: scale(1.07);
    }
}

.checked1 {
    height: 3rem;
    width: 3rem;
    color: $dark-purple;
}
.checked2 {
    height: 3rem;
    width: 3rem;
    color: $dark-purple;
}
.checked3 {
    height: 3rem;
    width: 3rem;
    color: $dark-purple;
}
.checked4 {
    height: 3rem;
    width: 3rem;
    color: $dark-purple;
}
.checked5 {
    height: 3rem;
    width: 3rem;
    color: $dark-purple;
}