.each-review {
    @include flex(column, start);
    width: 60%;
    background: $light-purple;
    margin: 1rem;
    box-shadow: $box-shadow;
    padding: 1rem;
    border-radius: .4rem;
}

.date-and-rating {
    @include flex(row, between);
}

.body {
    font-size: 1.4rem;
    font-style: italic;
    text-align: center;
}

.rating {
    text-align: center;
    align-self: center;
    letter-spacing: 8px;
}


