.each-review {
    @include flex(column, start);
    width: 60%;
    background: $light-purple;
    margin: 1rem;
    // border: 1px solid $color-light;
    box-shadow: $box-shadow;
    padding: 1rem;
    border-radius: .4rem;
}

.body {
    font-size: 1.4rem;
    font-style: italic;
    text-align: center;
}