/* === Neutrals === */
$color-light: hsla(0, 0, 100, 1);
$color-dark: hsla(0, 0, 0, 1);

/* === Palette === */
$dark-purple: rgba(91, 20, 171, 1);
$light-purple: rgba(182, 186, 231, 0.65);
$box-shadow: 0 9px 15px -9px #000;

