/* === Neutrals === */
$color-light: hsla(0, 0, 100, 1);
$color-dark: hsla(0, 0, 0, 1);

/* === Palette === */
$color-primary: rgba(244, 245, 220);
$color-background: rgba(244, 245, 220, .76);
$box-shadow: 1px 8px 15px 2px $color-dark;

