/* === Flexbox === */
@mixin flex($direction, $alignment, $wrap: nowrap) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    @if $alignment == center {
      align-items: center;
      justify-content: center;
    } @else if $alignment == evenly {
      align-items: center;
      justify-content: space-evenly;
    } @else if $alignment == between {
      align-items: center;
      justify-content: space-between;
    } @else if $alignment == around {
      align-items: center;
      justify-content: space-around;
    } @else if $alignment == start {
      align-items: right;
      justify-content: flex-start;
    } @else if $alignment == end {
      align-items: flex-end;
      justify-content: flex-end;
    }
  }
  
  /* === Media Queries === */
  @mixin mobile($property) {
      @media only screen and (min-width: 350px) {
        @content;
        transition: 100ms;
          @if $property==logo {
          transition: 1s;
          height: 3.5rem;
        } 
        @if $property== burger-menu {
          right: 10%;
          opacity: 1;
          transform: scale(1);
          transition: 500ms;
        } 
        @if $property== header-links {
          display: none;
          transform: scale(.5);
          transition: 200ms;
        } 
        @if $property== contact-card {
          width: 22rem;
          transition: 200ms;
        }
        @if $property== review-card {
          width: 23rem;
          transition: 200ms;
        }
        @if $property== date-rating {
          @include flex(column, center);
          transition: 200ms;
        }
        @if $property== logo {
          height: 3.5rem;
          transition: 200ms;
        }
      }
    }
    
    @mixin tablet($property) { 
      @media only screen and (min-width: 768px) {
        @content;
        transition: 100ms;
        @if $property== burger-menu {
          opacity: 0;
          transform: scale(.5);
          transition: 200ms;
        } 
        @if $property== header-links {
          transition: 200ms;
          transform: scale(.85);
          @include flex(row, end);
        }
        @if $property== contact-card {
          width: 23rem;
          transition: 500ms;
        }
        @if $property== review-card {
          width: 34rem;
          transition: 200ms;
        }
        @if $property== date-rating {
          @include flex(column, center);
          transition: 200ms;
        }
        @if $property== logo {
          height: 3.8rem;
          transition: 200ms;
        }
      }
    }
  
    @mixin desktop($property) {
      @media only screen and (min-width: 1000px) {
        @content;
        transition: 100ms;
        @if $property == header-links {
          @include flex(row, end);
          transform: scale(1);
          transition: 200ms;
        } 
        @if $property == burger-menu {
          transform: scale(.5);
          opacity: 0;
          transition: 200ms;
        } 
        @if $property== contact-card {
          width: 24rem;
          transition: 200ms;
        }
        @if $property== review-card {
          width: 37rem;
          transition: 200ms;
        }
        @if $property== date-rating {
          @include flex(row, between);
          transition: 200ms;
        }
        @if $property== logo {
          height: 4.5rem;
          transition: 200ms;
        }
      }
    }
  
  /* === Helpers === */
  
    @mixin mediaQueries($property) {
      @include mobile($property);
      @include tablet($property);
      @include desktop($property);
    }